<h1>Add a movie!</h1>
<form method="post" action="/movies">
  <label>Movie Title:</label>
  <input type="text" name="movie_title" placeholder="Movie Title">
  <label>Movie Director:</label>
  <input type="text" name="director_name" placeholder="Director's name"
  <label>Year of Release:</label>
  <input type="integer" name="year" placeholder="Year of Release">
  <label>Image</label>
  <input type="url" name"image" placeholder"=http://">
  <button>Add Movie</button>
</form>
