<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/movies">Movies</a>
    <a href="/movie/add">Add Movie to Database</a>

    <%= yield %>
  </body>
</html>
