<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/css/master.css">
  <head>
    <meta charset="utf-8">
    <title>Music!</title>
  </head>
  <body>
    <a href="/artists">Artists</a>
    <a href="/albums">Albums</a>
    <%= yield %>

  </body>
</html>
